table {
    width: 80%;
    margin: 0 auto;
}
.table {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    & > tr {
        font-size: 30px;
        margin: 10px 0;
        & > td {
            & > h1 {
                font-size: 60px;
            }
        }
    }
}
.row {
    width: 300px;
}
.voorbeeld-table {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    border-bottom: white 2px solid;
}
.voorbeeld-link {
    font-weight: 500;
    color: white;
    display: block;
    margin-top: 15px;
}

.home__header {
    font-family: 'Montserrat', sans-serif;
    margin: 0 5%;
    position: relative;
    display: flex;
    height: 80vh;
    &-positioner {
        align-self: center;
    }
    &-title {
        font-size: 90px;
        font-weight: 400;
        margin-bottom: -25px;
    }
    &-div {
        display: grid;
        grid-template-columns: 125px auto;
        gap: 30px;
        margin-bottom: 20px;
    }
    &-hr {
        margin: auto 0;
        height: 2px;
        color: white;
        background-color: white;
        border-width: 0;
    }
    &-subtitle {
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 500;
    }
    &-cta {
        font-family: 'Nunito', sans-serif;
        padding: 12px 30px !important;
        font-size: 20px;
        border-radius: 5px;
        background-color: $primary;
        background: linear-gradient(45deg, $primary, $secondary);
        border: none !important;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 500;
        transition: .25s ease-in-out;
        color: white;
        &:hover {
            cursor: pointer;
            background: linear-gradient(45deg, darken($primary, 10), darken($secondary, 10));
        }
    }
    &-img {
        position: absolute;
        height: 40vw;
        margin: auto;
        right: 5%;
        top: 0;
        bottom: 0;
        min-width: 260px;
        min-height: 430px;
        max-width: 500px;
        max-height: 700px;
        z-index: -1;
    }
}

@media screen and (max-width: 601px) {
    .home__header {
        margin: 0 0%;
        height: 500px;
        &-title {
            font-size: 55px;
            font-weight: 400;
            margin-bottom: -15px;
        }
        &-div {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 0px;
            margin-top: 0px;
        }
        &-hr {
            margin: auto 0;
            height: 2px;
            color: white;
            background-color: white;
            border-width: 0;
        }
        &-subtitle {
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 500;
            margin-top: 0;
        }
        &-cta {
            padding: 12px 24px !important;
            font-size: 16px;
            margin-top: 10px;
        }
        &-img {
            right: 3%;
        }
    }
}
@media screen and (max-width: 371px) {
    .home__header {
        &-title {
            font-size: 35px;
            font-weight: 400;
            margin-bottom: -15px;
        }
        &-div {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 0px;
            margin-top: 0px;
        }
        &-hr {
            margin: auto 0;
            height: 2px;
            color: white;
            background-color: white;
            border-width: 0;
        }
        &-subtitle {
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 500;
            margin-top: 0;
        }
        &-cta {
            padding: 12px 24px !important;
            font-size: 16px;
            margin-top: 10px;
        }
        &-img {
            right: 0;
            min-width: 160px;
            min-height: 330px;
        }
    }
}

.home__overMij {
    &-section {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        justify-content: center;
        height: auto;
        margin: 2.5% 5% 0 2.5%;
    }
    &-positioner {
        width: 40vw;
        max-width: 700px;
        min-width: 600px;
        padding-left: 25vw;
        position: relative;
    }
    &-titel {
        font-size: 30px;
        padding-top: -5vw;
    }
    &-text {
        font-size: 20px;
    }
    &-img {
        position: absolute;
        top: 0;
        left: 5vw;
        height: 30vw;
        max-height: 600px;
        min-height: 450px;
        z-index: -1;
    }
}

@media screen and (max-width: 1100px) {
    .home__overMij {
        &-titel {
            font-size: 26px;
            margin-left: 10px;
        }
        &-text {
            font-size: 16px;
            margin-left: 10px;
        }
        &-img {
            left: 3vw;
            min-height: 450px;
        }
    }
}

@media screen and (max-width: 900px) {
    .home__overMij {
        &-section {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            position: relative;
            justify-content: center;
            height: auto;
            margin: 2.5% 5% 0 2.5%;
        }

        &-positioner {
            width: 100%;
            position: relative;
            text-align: center;
            padding: 0;
            padding-top: 150px;
        }

        &-titel {
            font-size: 24px;
            padding-top: -5vw;
            margin-left: 0;
        }
        &-text {
            font-size: 14px;
            overflow-wrap: break-word;
            width: 80vw;
            margin: 0 auto;
            margin-bottom: 15px;
       }
        &-img {
            min-height: 380px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}
@media screen and (max-width: 900px) {
    .home__overMij {
        &-img {
            min-height: 300px;
        }
        &-text {
            font-size: 12px;
        }
    }
}

