table {
    width: 80%;
    margin: 0 auto;
}
.table {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    & > tr {
        font-size: 30px;
        margin: 10px 0;
        & > td {
            & > h1 {
                font-size: 60px;
            }
        }
    }
}
.voorbeeld-table {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    border-bottom: white 2px solid;
}
.voorbeeld-link {
    font-weight: 500;
    color: white;
    display: block;
    margin-top: 15px;
}
