.loginAligner {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.loginControllerPageContainer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginHeaderText {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 400;
}
.loginHeaderSubtext {
    font-size: 26px;
    font-weight: 500;
    color: $darkText;
    margin-top: 0px;
}

.login {

    &__container {
        position: relative;
    }
    &__form {
        background-color: $standardDark;
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
        border-radius: 15px;
        width: 70vw;
        max-width: 440px;
        position: relative;
        z-index: 4;
        transition: .4s ease-in-out;
        height: 105px;
    }
    &__input {
        border: none;
        padding: 15px 5px;
        padding-left: 0;
        font-size: 18px;
        width: 50vw;
        max-width: 360px;
        background-color: transparent;
        color: white;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-family: 'Montserrat', sans-serif;
        }
        &:-internal-autofill-selected {
            background-color: transparent !important;
            color: white !important;
            appearance: none !important;
            background-image: none !important;
        }
    }
}
.login__auth-hider {
    position: relative;
    width: 0;
    z-index: 5;
}
.auth-input {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 15px;
    transition: .4s ease-in-out;
}
.hide_auth {
    opacity: 0;
}
.login-auth-input-show {
    height: 170px;
}
.auth-input-show {
    opacity: 1;
    top: auto;
    left: auto;
    position: relative;
}
.border-top {
    border-top: 2px solid $bg;
}
.border-top-bottom {
    border-top: 2px solid $bg;
    border-bottom: 2px solid $bg;
}


.form-submit {
    &__container {
        position: absolute;
        z-index: 10;
        right: -38px;
        top: 20px;
    }
    &__dark-background {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $standardDark;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__light-background {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $bg;
        display: flex;
        align-items: center;
    }
    &__submit-triangle {
        margin: 0 auto;
        margin-left: 21px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 25px solid $bg;
        border-bottom: 15px solid transparent;
        cursor: pointer;
    }
}
.loginFooterText {
    text-align: left;
    padding-left: 20px;
    color: $standardDark;
    font-weight: 500;
}
.forgotPasswordLink {
    font-weight: 500;
    margin-left: 10px;
    transition: .25s;
    color: lighten($color: $standardDark, $amount: 80);
    &:hover {
        color: lighten($color: $standardDark, $amount: 50);
    }
}
.melding-text {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 5px;
    font-size: 16px;
    border: rgb(255, 189, 68) 2px solid;
    border-radius: 15px;
    background-color: $standardDark;
    color: $bg;
    font-weight: 500;
}
