// CREATE PROJECTS
.createProject__container {
    margin: 0 15%;
}
.cp {
    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }
    &__top {
        grid-column: 1/6;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }
    &__thumb {
        &-holder {
        display: flex;
        grid-column: 1/6;
        grid-row: 2/3;
        height: 40vw;
        max-height: 650px;
        background-image: url('https://via.placeholder.com/150');
        }
        &-input {
            display: flex;
            align-self: center;
            margin: 0 auto;
        }
    }
    &__extra-info {
        grid-column: 5/6;
        grid-row: 3/4;
        padding: 20px;
        background-color: lighten($color: $bg, $amount: 10);
        :nth-child(1) {
            padding-top: 0;
        }
    }
    &__content {
        grid-column: 1/5;
        grid-row: 3/4;
        &-textarea {
            height: 100%;
        }
    }
    &__extra-images {
        grid-column: 1/6;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
    }
    &__extra-image {
        border: 1px solid black;
        background-image: url('https://via.placeholder.com/150');
        min-height: 20vw;
    }
    &__submit {
        grid-column: 1/6;
        grid-row: 5/6;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 50px;
    }
    &__submit-button {
        color: white;
        margin: 0 auto;
        border: none;
        font-size: 20px;
    }
    &__input {
        color: white;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 20px;
        width: 100%;
        padding: 10px;
        padding-left: 0px;
        font-weight: 500;

        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $nonActiveLink;
        }
    }
    &__link-inputs {
        display: flex;
        flex-direction: row;
    }
    &__title-input {
        padding-bottom: 0;
        font-size: 50px;
    }
    &__keyword-input {
        padding-top: 0;
        font-size: 20px;
        color: $nonActiveLink;
    }

}
.ck-editor__editable_inline {
    min-height: 450px;
    font-family: 'Montserrat';
    background-color: transparent !important;
}
