.a-tag_component {
    text-decoration: none;
}

.nav-button {
    background-color: $unimportantButton;
    padding: 10px 20px !important;
    border-radius: 5px;
    &:hover {
        background-color: $primary;
        background: linear-gradient(45deg, $primary, $secondary);
        border: none !important;
    }
}
.no-margin {
    margin: 0;
}

.dashboardHello {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    margin-bottom: 5px;
    &-subtext {
        color: $nonActiveLink;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        margin-top: 0;
    }
}
.dashboard-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.component__tussentitel {
    font-family: 'Montserrat', sans-serif;
    &-titel {
        font-size: 50px;
        margin-bottom: 0;
        font-weight: 500;
    }
    &-ondertitel-houder {
        display: flex;
    }
}
