.a-tag_component {
    text-decoration: none;
}

.nav-button {
    background-color: $unimportantButton;
    padding: 10px 20px !important;
    border-radius: 5px;
    &:hover {
        background-color: $primary;
        background: linear-gradient(45deg, $primary, $secondary);
        border: none !important;
    }
}
.no-margin {
    margin: 0;
}

.dashboardHello {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    margin-bottom: 5px;
    &-subtext {
        color: $nonActiveLink;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        margin-top: 0;
    }
}
.dashboard-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hr {
    margin: auto 0;
    height: 2px;
    color: white;
    background-color: $unimportantButton;
    border-width: 0;
}

.component__tussentitel {
    font-family: 'Montserrat', sans-serif ;
    &-titel {
        font-size: 50px;
        margin-bottom: 0;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
    &-hr {
        display: inline-block;
        width: 75px;
        margin-bottom: 5px;
    }
    &-ondertitel-houder {
        margin: 0 auto;
        display: table;
    }
    &-ondertitel {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 0;
        padding: 0 10px 0 10px;

    }
}

@media screen and (max-width: 550px) {
    .component__tussentitel {
        font-family: 'Montserrat', sans-serif ;
        &-titel {
            font-size: 30px;
        }
        &-hr {
            display: none;
        }
        &-ondertitel {
            font-size: 12px;

        }
    }
}
