@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;

300;400;500&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap);html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  background-color: #313131;
  color: white;
  overflow-x: hidden;
}

main {
  margin: 0 20px;
}

.a-tag_component {
  text-decoration: none;
}

.nav {
  font-family: "Montserrat", sans-serif;
}

.nav__wrapper {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.nav__wrapper-logo {
  width: 40px;
  align-self: center;
}

.nav__burger {
  display: block;
  cursor: pointer;
}

.nav__burger > .burger-line {
  width: 35px;
  height: 3px;
  background-color: #dddddd;
  border-radius: 5px;
  margin: 7px;
  transition: 0.5s ease-in-out;
}

.nav__link-wrapper {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #646464;
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.275, 0.885, 0.32, 0.975);
}

.nav__link-wrapper-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link-wrapper-link {
  opacity: 0;
  text-align: center;
  padding: 20px;
  padding-bottom: 15px;
}

.nav__link-wrapper-link > .a-tag_component {
  padding-bottom: 5px;
  color: #dddddd;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav__link-wrapper-link > .a-tag_component:hover {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(45deg, #4E48FB, #48DBFB);
  border-image-slice: 1;
  color: white;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line-top {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.toggle .line-middle {
  transition: 0.2s;
  opacity: 0;
}

.toggle .line-bottom {
  transform: rotate(45deg) translate(-10px, -11px);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes navLinkFadeBack {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes navLinkFadeBack {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (min-width: 600px) {
  .nav {
    font-family: "Montserrat", sans-serif;
  }

  .nav__wrapper {
    margin: 30px 30px;
  }

  .nav__wrapper-logo {
    width: 50px;
  }

  .nav__burger {
    display: none;
  }

  .nav__link-wrapper {
    position: relative;
    transform: translate(0);
    top: 0;
    background-color: transparent;
  }

  .nav__link-wrapper-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__link-wrapper-link {
    opacity: 1;
  }

  .nav__link-wrapper-link > .a-tag_component {
    border-bottom: 2px #dddddd;
  }

  .nav__link-wrapper-link > .nav-button {
    background-color: #555555;
    padding: 10px 20px !important;
    border-radius: 5px;
  }

  .nav__link-wrapper-link > .nav-button:hover {
    background-color: #48DBFB;
    background: linear-gradient(45deg, #48DBFB, #4E48FB);
    border: none !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-around;
  margin: 0 auto;
}

.footer__socials-background {
  font-size: 25px;
}

.footer__socials-background > a {
  color: white;
  transition: 0.3s;
}

.footer__socials-background > a:hover {
  color: #b1b1b1;
}

.footer__copyright {
  font-size: 12px;
  margin-top: 5px;
}

