@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;

300;400;500&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap);html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  background-color: #313131;
  color: white;
  overflow-x: hidden;
}

main {
  margin: 0 30px;
}

.a-tag_component {
  text-decoration: none;
}

.loginAligner {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginControllerPageContainer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeaderText {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 400;
}

.loginHeaderSubtext {
  font-size: 26px;
  font-weight: 500;
  color: #8b8b8b;
  margin-top: 0px;
}

.login__container {
  position: relative;
}

.login__form {
  background-color: #171717;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-radius: 15px;
  width: 70vw;
  max-width: 440px;
  position: relative;
  z-index: 4;
  transition: 0.4s ease-in-out;
  height: 105px;
}

.login__input {
  border: none;
  padding: 15px 5px;
  padding-left: 0;
  font-size: 18px;
  width: 50vw;
  max-width: 360px;
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.login__input:focus {
  outline: none;
}

.login__input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

.login__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}

.login__input::placeholder {
  font-family: "Montserrat", sans-serif;
}

.login__input:-internal-autofill-selected {
  background-color: transparent !important;
  color: white !important;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  background-image: none !important;
}

.login__auth-hider {
  position: relative;
  width: 0;
  z-index: 5;
}

.auth-input {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 15px;
  transition: 0.4s ease-in-out;
}

.hide_auth {
  opacity: 0;
}

.login-auth-input-show {
  height: 170px;
}

.auth-input-show {
  opacity: 1;
  top: auto;
  left: auto;
  position: relative;
}

.border-top {
  border-top: 2px solid #313131;
}

.border-top-bottom {
  border-top: 2px solid #313131;
  border-bottom: 2px solid #313131;
}

.form-submit__container {
  position: absolute;
  z-index: 10;
  right: -38px;
  top: 20px;
}

.form-submit__dark-background {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #171717;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.form-submit__light-background {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #313131;
  display: flex;
  align-items: center;
}

.form-submit__submit-triangle {
  margin: 0 auto;
  margin-left: 21px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 25px solid #313131;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}

.loginFooterText {
  text-align: left;
  padding-left: 20px;
  color: #171717;
  font-weight: 500;
}

.forgotPasswordLink {
  font-weight: 500;
  margin-left: 10px;
  transition: 0.25s;
  color: #e3e3e3;
}

.forgotPasswordLink:hover {
  color: #979797;
}

.melding-text {
  font-family: "Montserrat", sans-serif;
  padding: 10px 5px;
  font-size: 16px;
  border: #ffbd44 2px solid;
  border-radius: 15px;
  background-color: #171717;
  color: #313131;
  font-weight: 500;
}

.nav {
  font-family: "Montserrat", sans-serif;
}

.nav__wrapper {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.nav__wrapper-logo {
  width: 40px;
  align-self: center;
}

.nav__burger {
  display: block;
  cursor: pointer;
}

.nav__burger > .burger-line {
  width: 35px;
  height: 3px;
  background-color: #dddddd;
  border-radius: 5px;
  margin: 7px;
  transition: 0.5s ease-in-out;
}

.nav__link-wrapper {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #646464;
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.275, 0.885, 0.32, 0.975);
}

.nav__link-wrapper-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link-wrapper-link {
  opacity: 0;
  text-align: center;
  padding: 20px;
  padding-bottom: 15px;
}

.nav__link-wrapper-link > .a-tag_component {
  padding-bottom: 5px;
  color: #dddddd;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav__link-wrapper-link > .a-tag_component:hover {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(45deg, #4E48FB, #48DBFB);
  border-image-slice: 1;
  color: white;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line-top {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.toggle .line-middle {
  transition: 0.2s;
  opacity: 0;
}

.toggle .line-bottom {
  transform: rotate(45deg) translate(-10px, -11px);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes navLinkFadeBack {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes navLinkFadeBack {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (min-width: 600px) {
  .nav {
    font-family: "Montserrat", sans-serif;
  }

  .nav__wrapper {
    margin: 30px 30px;
  }

  .nav__wrapper-logo {
    width: 50px;
  }

  .nav__burger {
    display: none;
  }

  .nav__link-wrapper {
    position: relative;
    transform: translate(0);
    top: 0;
    background-color: transparent;
  }

  .nav__link-wrapper-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__link-wrapper-link {
    opacity: 1;
  }

  .nav__link-wrapper-link > .a-tag_component {
    border-bottom: 2px #dddddd;
  }

  .nav__link-wrapper-link > .nav-button {
    background-color: #555555;
    padding: 10px 20px !important;
    border-radius: 5px;
  }

  .nav__link-wrapper-link > .nav-button:hover {
    background-color: #48DBFB;
    background: linear-gradient(45deg, #48DBFB, #4E48FB);
    border: none !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-around;
  margin: 0 auto;
}

.footer__socials-background {
  font-size: 25px;
}

.footer__socials-background > a {
  color: white;
  transition: 0.3s;
}

.footer__socials-background > a:hover {
  color: #b1b1b1;
}

.footer__copyright {
  font-size: 12px;
  margin-top: 5px;
}

